{% extends "home/base_home.html" %} {% block title %}{{ titulo }}{% endblock %}
{% block content %}

<main class="container-fluid">
	<div class="container-fluid text-center">
		<h3>INTEGRATION ENGINE</h3>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<div class="card text-center">
					<div class="card-header">
						<strong>
							Marketing CRM API
						</strong>
					</div>
					<div class="card-body">
						<p class="card-text">The endpoints in this API allow you to access, create, and modify your
							consumer (patient) records, as well as access your records for partner facilities.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
					<div class="card-footer text-muted">
						2 days ago
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card text-center">
					<div class="card-header">
						<strong>
							Public Inventory API
						</strong>
					</div>
					<div class="card-body">
						<p class="card-text">API data related to inventory management.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
					<div class="card-footer text-muted">
						2 days ago
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card text-center">
					<div class="card-header">
						<strong>
							Public Cultivation API
						</strong>
					</div>
					<div class="card-body">
						<p class="card-text">The endpoints in this API allow you to access to inventory.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
					<div class="card-footer text-muted">
						2 days ago
					</div>
				</div>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-sm-4">
				<div class="card text-center">
					<div class="card-header">
						<strong>
							Public API Configuration
						</strong>
					</div>
					<div class="card-body">
						<p class="card-text">The endpoints in this API allow you to access to endpoints.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
					<div class="card-footer text-muted">
						2 days ago
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card text-center">
					<div class="card-header">
						<strong>
							Supply Chain API
						</strong>
					</div>
					<div class="card-body">
						<p class="card-text">Access, create and modify sales and purchase orders in the MJ Platform
							system.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
					<div class="card-footer text-muted">
						2 days ago
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card text-center">
					<div class="card-header">
						<strong>
							Analysis and Processing of Files in Excel Format
						</strong>
					</div>
					<div class="card-body">
						<p class="card-text">This section allows you to upload excel files and using the pandas library
							and data analysis, allows you to capture, process, purify the information from them and
							store the information in a related database to later report them using Power BI.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
					<div class="card-footer text-muted">
						2 days ago
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}